# Python Caches
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
env/
.python_env/
.venv/
Include/
Lib/
Scripts/
pyvenv.cfg

# Logs
ppo_logs/
dqn_logs/
*.log

# Models (Keep the folder, but maybe ignore specific temp files if any)
# models/*/ # Uncomment if you want to ignore all models
!models/ppo/ppo_leon_v1.zip
!models/dqn/dqn_leon_v1.zip

# OS/Editor
.vscode/
.idea/
.DS_Store
Thumbs.db

# Project Specific
showdown/pokemon-showdown/logs/
showdown/pokemon-showdown/config/config.js.bak
node_modules/
.env
