# Python Caches
__pycache__/
*.py[cod]
*$py.class

# Environments
python/venv/
venv/
env/
.python_env/
.venv/
Include/
Lib/
Scripts/
pyvenv.cfg

# Logs
ppo_logs/
dqn_logs/
*.log

# Models (Ignore all local training artifacts)
models/ppo/*.zip
models/dqn/*.zip
# Keep the directory structure
!models/ppo/.gitkeep
!models/dqn/.gitkeep

# OS/Editor
.vscode/
.idea/
.DS_Store
Thumbs.db

# Project Specific
showdown/pokemon-showdown/logs/
showdown/pokemon-showdown/config/config.js.bak
node_modules/
.env
